header {
    background-color: rgb(18, 153, 183);
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px;
    position: relative; top: -90px;

}

body {
    background-color: black;
    widows: 100px;
    margin: 180px;
    color: white;
  }

nav ul li {
    display: inline-flex;
    padding: 2px;
    margin-left: 80px;
position: relative; top: -50px;
}

article {
    float: left;
    padding: 30px;
    width: 70%;
    background-color: black;
    height: 100;
    margin-left: 120px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
}

.maps {
    widows: 300px;
    display: inline-flex;
    direction: initial;
    text-emphasis: 12;
    color: grey;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 120px;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: white;
    width: 200px;
    height: 100;
}

#reg-form{
margin-left: 140px;
}
